@{
    ViewBag.Title = "Зв'яжіться з нами";
}
<h2>@ViewBag.Title.</h2>
<h3>Дирекція закладу</h3>

<address>
    Директор Директорович<br />
    моб. тел. +3081237857236<br />
    вул. Певна собі вулиця
</address>

<address>
    <strong>Наш e-mail:</strong>   <a href="mailto:support@example.com">support@example.com</a><br />
</address>