/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}*/
body {
    font-size: 14px;
    min-width: 320px;
}

.site_title i {
    border: none;
}

.panel_toolbox {
    min-width: initial;
}

.checkbox label {
    padding-left: 0;
}

.settings-menu-icon {
    margin-right: 0.3em;
}

.btn-homework {
    margin-top: 10px;
    float: right;
}

.text-with-dotes {
    display: inline-block;
    text-overflow: ellipsis;
    overflow-x: hidden;
    width: 100%;
}

.hw_container {
    height: 700px;
    overflow: auto;
}

.gc_container {
    height: 700px;
    overflow: auto;
}

.form_pupils_container {
    max-height: 400px;
    overflow: auto;
}

.list-inline.widget_profile_box li {
    width: 33%;
}

ul.widget_profile_box li .profile_img.pupil_face {
    display: block;
    margin: auto;
    margin-top: -28px;
}
ul.widget_profile_box li:first-child {
    width: 33%;
}

.pupiloftheweek_name {
    padding-top: 10px;
    text-align: center;
}

.global-swicher {
    margin-top: 5px;
}
.pupiloftheweek_title {
    margin-top: -5px;
    text-align: center;
}

.block_content {
    position: relative;
}

.crib_remove {
    position: absolute;
    top: -11px;
    right: -3px;
}
/*Chat styles*/
#message-container {
    overflow-y: scroll;
    max-height: 430px;
}

.message-wrapper {
    clear: both;
}

    .message-wrapper .message-text {
        width: 75%;
        float: left;
        background-color: #f0f9fe;
        margin: 10px 0;
        border-radius: 10px;
        line-height: 20px;
        padding: 20px;
        position: relative;
    }

    .message-wrapper.chat-user-message .message-text {
        width: 70%;
        margin-right: 5%;
    }

    .message-wrapper.curent-user-message .message-text {
        width: 85%;
        margin-left: 5%;
        background-color: #c6ebfb;
    }

        .message-wrapper.curent-user-message .message-text:after {
            content: "";
            width: 10px;
            height: 10px;
            display: block;
            border: 10px solid #c6ebfb;
            border-color: transparent;
            border-left-color: #c6ebfb;
            position: absolute;
            right: -20px;
            top: 50%;
            margin-top: -10px;
        }

    .message-wrapper.chat-user-message .message-text:after {
        content: "";
        width: 10px;
        height: 10px;
        display: block;
        border: 10px solid #f0f9fe;
        border-color: transparent;
        border-right-color: #f0f9fe;
        position: absolute;
        left: -20px;
        top: 50%;
        margin-top: -10px;
    }

    .message-wrapper.chat-user-message .message-user {
        padding-top: 30px;
    }

    .message-wrapper .message-user {
        width: 15%;
        float: left;
        font-size: 12px;
        font-weight: bold;
    }

    .message-wrapper .message-date {
        width: 10%;
        float: left;
        font-style: italic;
        text-align: center;
        margin-top: 30px;
    }

#message {
    max-width: none;
    width: 100%;
    margin: 10px auto;
    height: 100px;
    resize: none;
}

.user-name {
    display: inline-block;
    margin: 5px;
    font-weight: bold;
}

.d-inline-block {
    display: inline-block;
}
