@model IEnumerable<CribMaker.Core.Data.Entities.Crib>

@{
    ViewBag.Title = "Index";
}
<div class="x_panel">
    <div class="x_title">
        <h2>Глобальні записки</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="gc_container">
            <ul class="list-unstyled timeline">
                @foreach (var crib in Model)
                {
                    <li>
                        <div class="block">
                            <div class="tags">
                                <a class="tag">@crib.Subject.Name</a>
                            </div>
                            <div class="block_content">
                                <h2 class="title">@crib.Title</h2>
                                <p class="excerpt"> @crib.Text</p>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

